// components/_tabs.scss
// Tab navigation component styles

@use "../tokens" as *;

.tab-nav {
  display: flex;
  gap: $spacing-grid;
}

.tab-btn {
  padding: 8px $spacing-grid;
  font-size: $font-size-body;
  font-family: inherit;
  color: $color-text;
  background: none;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;

  &:hover {
    color: $color-primary;
  }

  &:focus {
    outline: 2px solid $color-primary;
    outline-offset: 2px;
  }

  &.active {
    border-bottom-color: $color-primary;
    color: $color-primary;
  }
}
